{
	"userName":"",
	"password":"",
	"mode":"standardTT",
	"behavior":"auditor",	
	"loginTime":"3",
	"waitTime":"1",
	"url":"",
	"assignMode":
	{
		"useMode":"halfAuto",
		"fullAuto":
		{
			"assignCount":"1"
		},
		"halfAuto":
		{
			"assignWorker":"王卫平",
			"assignCount":"1"
		}
	},
	"debugMode":"0"
	
}