{
	"userName":"",
	"password":"",
	"mode":"amazingTT", 
	"loginTime":"3",
	"waitTime":"1",
	"url":"http://211.103.0.97/webgisams/authen/toMainPage.do",
	"assignMode":
	{
		"useMode":"halfAuto",
		"fullAuto":
		{
			"assignCount":"1"
		},
		"halfAuto":
		{
			"assignWorker":"刘",
			"assignCount":"2"
		}
	},
	"debugMode":"1"
	
}