{
	"userName":"sz-chenxiaobw",
	"password":"Fff456456!",
	"mode":"standardTT",
	"behavior":"auditor",	
	"loginTime":"2",
	"waitTime":"1",
	"url":"http://211.103.0.97/webgisams/authen/toMainPage.do",
	"assignMode":
	{
		"useMode":"halfAuto",
		"fullAuto":
		{
			"assignCount":"1"
		},
		"halfAuto":
		{
			"assignWorker":"王卫平",
			"assignCount":"1"
		}
	},
	"debugMode":"0"
	
}